<div class="row">
				<div class="col-lg-8 col-md-12">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-check red"></i><strong>To Do</strong></h2>
							<div class="panel-actions">
								<a href="index.html#" class="btn-setting">Save</i></a>
							</div>
						</div>
						<div class="panel-body no-padding">
							<div class="todo-list">
								<div class="header">Today</div>
								<ul id="todo-2" class="todo-list-tasks">
									<li>
										<label class="custom-checkbox-item pull-left">
											<input class="custom-checkbox" type="checkbox"/>
											<span class="custom-checkbox-mark"></span>
										</label>
										<span class="desc">Add slider home to creative template</span> 
									</li>
									<li>
										<label class="custom-checkbox-item pull-left">
											<input class="custom-checkbox" type="checkbox"/>
											<span class="custom-checkbox-mark"></span>
										</label>
										<span class="desc">Change portfolio image with new animation</span> 
									</li>
									<li>
										<label class="custom-checkbox-item pull-left">
											<input class="custom-checkbox" type="checkbox"/>
											<span class="custom-checkbox-mark"></span>
										</label>
										<span class="desc">Fixed JavaScript problem for index page</span> 
									</li>
								</ul>
								
							</div>
						</div>
						<div class="panel-footer">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Add new task">
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-link"><i class="fa fa-file-text"></i></button>
							</div>
							
							<div class="pull-right">
								<button type="button" class="btn btn-primary">Submit</button>
							</div>	
						</div>						
					</div>

				</div><!--/col-->
				
			</div>